<%- include('../partials/header') %>

<h1>UPDATING A Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
        <label for="">name</label>
        <input type="text" name="name" value="<%= product.name %>">
        <br>
        <br>
        <label for="">price</label>
        <input type="text" name="price" value="<%= product.price %>">
        <br>
        <br>
        <label for="">category</label>
        <select name="category">
            <option value="">--Please choose an option--</option>
            <% for(let category of categories){ %>
            <option value="<%= category %>" <%= category === product.category ? 'selected' : '' %> ><%= category %></option>
            <% } %>
        </select>
        <br>
        <br>
        <button>submit</button>
    </form>
    <a href="/products">All products</a>

<%- include('../partials/footer') %>