<%- include('../partials/header'); -%>
<h1>ALL PRODUCTS</h1>
<ul>
    <% products.forEach((product) => { %>
    <li><%= product.name %>: <%= product.price %> DH : <b><%= product.category %></b></li>
    <% }); %>
</ul>
<%- include('../partials/footer'); -%>