<%- include('../partials/header') %>

<h1><%= product.name %></h1>
<h2><%= product.price %></h2>
<p><b><%= product.category %></b></p>
<a href="/products/<%= product._id %>/edit">Update this product</a>
<a href="/products">All products</a>

<%- include('../partials/footer') %>